
<div class="container"  >
<h1 align="center">Listing all articles</h1>
  <div class="pagination">
    <%= will_paginate %>
  </div>
<%= render 'article', obj: @articles %>
  <div class="pagination">
    <%= will_paginate %>
  </div>
</div>
