<h1>Nhin nhung gi vo vua nhap neeee</h1>

<p>
Title: <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %>
</p>
<h1>Vo gioi qua diiiii, iu quaaaaa <3 <3 <3 </h1>
<%= link_to "Edit articles", edit_article_path %> |
<%= link_to "Back to articles", articles_path %>